.container {
	width: 90%;
	max-width: 1760px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	&__top {
		padding: 2rem 0;
		background: #2a2a2a;
		text-align: center;
		font-size: 1.4rem;

		a {
			color: #a3a3a3;
		}
	}

	&__bottom {
		background: #000;
		padding: 1rem 0;

		.container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 4rem;
		}
	}

	&__nav {
		display: flex;
		justify-content: center;
		align-items: center;

		li {
			margin-right: 2rem;

			&:last-of-type {
				margin-right: 0;
			}
		}
		
		a {
			color: #FFF;
			text-decoration: none;

			&:after {
				display: block;
				content: "";
				width: 100%;
				max-width: 0%;
				height: 2px;
				background: #FFF;
				margin-top: 1rem;
				margin-left: auto;
				margin-right: auto;
				transition: max-width 0.05s ease-out;
			}
		}

		a:hover {
			&:after {
				max-width: 5px;
			}
		}

		&__active {
			a:after {
				max-width: 15px!important;
			}
		}
	}

	&__menu {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		a {
			display: block;
			color: #FFF;
			text-decoration: none;
		}

		&__button {
			padding: 1rem 1.25rem;
			background: #000;
			border-radius: 15px;

			&:hover {
				background: #2a2a2a;
			}
		}
	}
}

.logo {
	display: block;
	width: auto;
	max-height: 80px;
}

.svg {
	path {
		fill: #FFF;
	}
}