.container {
	width: 90%;
	max-width: 1760px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	&__top {
		padding: 2rem 0;
		background: #2a2a2a;
		text-align: center;
		font-size: 1.4rem;

		a {
			color: #a3a3a3;
		}
	}

	&__bottom {
		background: #000;
		padding: 1rem 0;

		.container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 4rem;
		}
	}
}

.logo {
	display: block;
	width: auto;
	max-height: 80px;
}

.svg {
	path {
		fill: #FFF;
	}
}